html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #152237;
}
#head-logo {
  height: 31px;
  width: 84px;
}
#link-form {
  font-family: "Montserrat";
  font-size: 15px;
  color: #FFFFFF;
}
#connect-1 {
  font-family: "Montserrat";
  font-size: 15px;
  color: #152237;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 10px; 
  width: 130px;
  height: 40px;
  opacity: 1;
}
#connect-2 {
  font-family: "Montserrat";
  font-size: 15px;
  color: #152237;
  border-radius: 6px;
  padding: 10px;
  background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
  width: 130px;
  height: 40px;
  opacity: 1;
}
#search {
  width: 25%;
  height: 40px;
  border: 1px solid;
  border-radius: 6px;
  border-color: #FFFFFF;
  background-color: #152237;
  padding-left: 1vw;
}
#icone-glass {
  display: flex;
  position: relative;
  right: 11.5vw;
}
input::placeholder {
  color: #FFFFFF;
}
#bars-icone {
  display: none;
}
header input {
  color: #FFFFFF;
}
input:focus {
  outline: none;
} 
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%),
  url(Images/bg-header.png);
  height: 451px;
  width: 100%;
  gap: 1vw;
}
.hero h1 {
  font-family: "Montserrat";
  font-weight: 800px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.hero h2 {
  opacity: 1;
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.hero a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  width: 130px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
  color: #152237;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 12px;
  align-self: center;
}
.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  padding: 70px 70px 70px 70px;
}
.contain-1 {
  display: grid;
  height: 362px;
  width: 307px;
  position: relative;
}
.contain-1 p, .contain-1-star {
  margin-top: 1vh;
  margin-left: 1vw;
}
.contain-1 h3 {
  margin-top: 2vh;
  margin-left: 1vw;
}
.contain-1 span {
  display: flex;
  padding-top: 5px;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: "Regular";
  font-size: 10px;
  line-height: 7px;
  letter-spacing: -1.5%;
  text-decoration: line-through;
  margin-left: 7px;
}
.Popular-formations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 2rem;
  width: 100%;
}
.section-1 h2 {
  font-size: 2em;
}
.contain-1 .prix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top:52%;
  left: 52%;
  color: #FFFFFF;
  background-color: #152237;
  width: 120px;
  border-radius: 93px;
  padding: 7px;
  font-weight: bold;
}
#sec-1-link {
  align-self: center;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #152237;
  width: 225px;
  border-radius: 6px;
  color: #FFFFFF;
}
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 70px;
  background-color: #152237;
}
.contain-2 {
  height: 362px;
  width: 307px;
  position: relative;
}
.contain-2 p, .contain-2-star {
  margin-top: 1vh;
  margin-left: 1vw;
}
.contain-2 h3 {
  margin-top: 2vh;
  margin-left: 1vw;
}
.contain-2 span {
  display: flex;
  padding-top: 5px;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: "Regular";
  font-size: 10px;
  line-height: 7px;
  letter-spacing: -1.5%;
  text-decoration: line-through;
  margin-left: 7px;
}
.section-2 h2 {
  color: #FFFFFF;
  font-size: 2em;
}
.contain-2 .prix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 52%;
  left: 52%;
  color: #152237;
  background-color: #FFFFFF;
  width: 120px;
  border-radius: 93px;
  padding: 7px;
  font-weight: bold;
}
.Recent-formations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 2rem;
  width: 100%;
  color: #FFFFFF;
}
#sec-2-link {
  align-self: center;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #FFFFFF;
  width: 225px;
  border-radius: 6px;
  color: #152237;
}
.Customers-review {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 597px;
  padding: 0 70px 0 70px;
}
.Customers-review h2 {
  text-align: center;
  margin: 50px 0 50px 0;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}
.Cards-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#Review-1 {
  width: 699px;
}
#Review-1 p, #Review-1-star {
  margin-top: 1vh;
}
#Review-2 {
  width: 660px;
}
#Review-2 p, #Review-2-star {
  margin-top: 1vh;
}
.Review-img {
  border-radius: 50%;
}
.Advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 641px;
  background-color: #F5F5F5;
}
.Advantages-icones {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.Advantages-txt {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 472px;
}
.Advantages-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Advantages-txt h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}
#img-advantages {
  height: 500px;
  width: 680px;
}
.Crea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 90px 50px 0;
  align-items: center;
  height: 641px;
  background-color: #44DD8A;
}
#img-crea {
  height: 500px;
  width: 680px;
}
.Create-formations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 500px;
}
.Create-formations h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: Black;
  font-size: 35px;
  text-transform: uppercase;
  width: 100%;
}
#h2b {
  display: none;
}
.Crea-icones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.icones-settings {
  display: flex;
  align-self: flex-start;
}
#hand-id, #heart-id, #pen-id {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.About {
  display: flex;
  flex-direction: row;
  height: 740px;
}
#About-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #152237;
  width: 50%;
  object-fit: cover;
}
#About-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 30px;
  background-color: #F5F5F5;
  padding: 4%;
}
#About-txt h1 {
  text-align: start;
  font-family: "Montserrat";
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}
.section-form {
  height: 585px;
}
#Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#Form h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
  border-bottom: 1px solid #44DD8A;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 20px;
  padding-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  width: 80%;
}
#Form-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
#nom {
  width: 45%;
  height: 45px;
  color: #FFFFFF;
  background-color: #152237;
  padding-left: 1vw;
}
#email {
  width: 45%;
  height: 45px;
  color: #FFFFFF;
  background-color: #152237;
  padding-left: 1vw;
}
#message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 194px;
  padding-top: 7px;
  padding: 7px 0 194px 10px;
  color: #FFFFFF;
  background-color: #152237;
  text-align: start;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1.5%;
  margin-bottom: 20px;
}
#submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 15vw;
  color: #152237;
  background-color: #44DD8A;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 489px;
  width: 100%;
  background-color: #152237;
}
#Img-footer {
  height: 87px;
  width: 243px;
}
#footer-color {
  display: flex;
  height: 18px;
  background: linear-gradient(90.01deg, #44DD8A 2.38%, #18A0FB 100%);
}
.Top-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Center-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  margin-top: 30px;
}
.Legal-mentions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  height: 144px;
}
.CGU {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.Center-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}
#MENTIONS,
#CGU,
#CGV,
#FAQ,
#Contact {
  color: #FFFFFF;
}
#LOC,
#TEL,
#MAIL {
  color: #FFFFFF;
}
#MENTIONS {
  font-weight: bold;
}
.Contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  height: 144px;
}
#Contact-p {
  font-weight: bold;
}
.End-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Contact-loc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.Contact-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  width: 192px;
}
.Contact-list img {
    align-self: flex-start;
}
#Connect-bott {
  font-family: "Montserrat";
  text-align: center;
  font-size: 15px;
  color: #152237;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 10px; 
  width: 130px;
  height: 40px;
  opacity: 1;
}
#Subscribe-bott {
  font-family: "Montserrat";
  text-align: center;
  font-size: 15px;
  color: #152237;
  border-radius: 6px;
  padding: 10px;
  background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
  width: 130px;
  height: 40px;
  opacity: 1;
}
.Bottom-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #44DD8A;
  text-decoration: none;
  margin-left: 7vw;
  margin-right: 7vw;
  color: #FFFFFF;
  height: 35%;
  padding-top: 30px;
}
.Social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 297px;
}
.Social-network p {
  padding-top: 10px;
  font-size: 15px;
}
#f-book, #twitter, #insta, #linkdn {
  color: #FFFFFF;
}


@media screen and (max-width: 768px) and (min-width: 320px) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 100%;
  }
  #link-form {
    display: none;
  }
  #search {
    display: none;
  }
  .log-connect {
    display: none;
  }
  #icone-glass {
    display: none;
  }
  #bars-icone {
    display: block;
    color: #FFFFFF;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 364px;
    width: 100%;
    gap:20px;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    text-align: center;
    font-size: 20px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-top: 32px;
  }
  .section-1 h2 {
    text-align: center;
    width: 100%;
    align-self: center;
  }
  .Popular-formations {
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    gap: 40px;
  }
  .contain-1, .contain-2 {
    width: 100%;
  }
  .contain-1 h3, .contain-1 p, .contain-1-star {
    margin-left: 10px;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-top: 32px;
  }
  .Recent-formations {
    align-items: center;
    height: auto;
    width: 100%;
    gap: 40px;
  }
  .section-2 h2 {
    text-align: center;
    width: 100%;
  }
  .contain-2 h3, .contain-2 p, .contain-2-star {
    margin-left: 10px;
  }
  .Customers-review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .Cards-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 15px;
  }
  #Review-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  #Review-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .Review-img {
    width: 139px;
    height: 139px;
  }
  .Advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: marg;
  }
  .Advantages-txt {
    display: flex;
    flex-direction: column;
    padding: 28px;
    height: auto;
    width: 100%;
  }
  #img-advantages {
    height: auto;
    width: 327px;
    margin-bottom: 38px;
  }
  .Advantages-txt h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: Black;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .Crea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%;
    align-items: center;
    padding: 28px;
    gap: 20px;
  }
  .Img-crea-formations {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 10px;
  }
  #img-crea {
    height: auto;
    width: 100%;
  }
  .Create-formations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 20px;
  }
  #h2b {
    display: block;
    font-family: "Montserrat";
    font-weight: 900;
    font-style: Black;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-align: center;
    text-transform: uppercase;
  }
  .Create-formations h2 {
    display: none;
  }
  .About {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%;
  }
  #About-txt {
    height: auto;
    width: 100%;
    align-items: center;
    padding: 24px;
  }
  #About-txt h1 {
    display: flex;
    font-weight: 900;
    font-style: Black;
    font-size: 35px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-align: center;
    text-transform: uppercase;
  }
  #About-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 100%;
  }
  #img-about {
    width: 214px;
    height: 77px;
    top: 813px;
    left: 89px;
    object-fit: cover;
  }
  section {
    height: auto;
  }
  .section-form {
    height: auto;
    width: 100%;
  }
  form {
    width: 100%;
    padding: 15px;
  }

  #Form h2 {
    font-weight: 900;
    font-style: Black;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0;
  }
  #Form-area {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #nom {
    width: 100%;
  }
  #email {
    width: 100%;
  }
  #submit {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    width: 100%;
  }
  .Top-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .Center-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 35px;
  }
  .End-contain {
    display: none;
  }
  .Bottom-contain {
    display: none;
  }
  .CGU {
    align-items: center;
    width: 100%;
  }
  #MENTIONS {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -1.5%;
    text-align: center;
  }
  .Legal-mentions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  #Contact-p {
    text-align: center;
  }
}